.lets-connect {
  background-color: #f0efe9;
  display: block;
  position: relative;
  z-index: 0;
}
@media (min-width: 1400px) {
  .lets-connect {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
  }
}
.lets-connect .background-wavy-lines {
  display: none;
}
@media (min-width: 856px) {
  .lets-connect .background-wavy-lines {
    position: absolute;
    display: block;
    left: 0;
    top: -30px;
    z-index: -1;
  }
}
.lets-connect a {
  text-decoration: none;
  color: #0E1021;
  padding: 5px;
  font-weight: 500;
}
.lets-connect a:hover {
  text-decoration: underline;
}
.lets-connect h1 {
  padding-bottom: 100px;
  font-weight: 700;
}

.contact {
  background-color: white;
}
@media (min-width: 1400px) {
  .contact {
    padding: 100px 0px;
  }
}
.contact .contactinformation {
  display: block;
  justify-content: space-between;
}
@media (min-width: 756px) {
  .contact .contactinformation {
    gap: 50px;
    display: flex;
  }
}
.contact .contactinformation .content-box {
  display: block;
  justify-content: center;
  z-index: 1;
}
@media (min-width: 756px) {
  .contact .contactinformation .content-box {
    flex-direction: row;
    align-items: center;
    display: flex;
    border: 1px solid black;
  }
}
@media (min-width: 1400px) {
  .contact .contactinformation .content-box {
    width: 350px;
    height: 200px;
  }
}
.contact .contactinformation .content-box div {
  text-align: start;
}
.contact .contactinformation .content-box i {
  align-self: flex-start;
  justify-content: start;
  color: white;
  border: 15px solid black;
  border-radius: 25px;
  background-color: #0E1021;
  margin-right: 35px;
  margin-top: 55px;
}

.leave-message {
  background-color: #F0EFE9;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
}
.leave-message .section-title {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 0px;
  margin: 0px;
}
.leave-message .section-title h1 {
  padding-bottom: 10px;
  width: 30%;
}
.leave-message .user-contact-form {
  margin-top: 0px;
  margin-bottom: 70px;
  padding-bottom: 70px;
  display: block;
}
.leave-message .user-contact-form .user-contact {
  display: block;
  width: 100%;
  border: 1px solid #F0EFE9;
  border-radius: 25px;
  padding: 15px 30px;
}
.leave-message .user-contact-form .user-contact #user-message {
  height: 80px;
  height: 200px;
  padding-bottom: 140px;
}
.leave-message .user-contact-form .user-contact-form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.leave-message .user-contact-form .user-contact-form-submit .btn-yellow {
  width: 95%;
  padding: 15px 30px;
  margin-top: 30px;
}