
.btn-yellow {
    background-color:#f9d783;
    border: 1px solid #f9d783;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: 0.5s;
    i{
        margin-left: 8px;
        font-size: 0.9em;
    }
    &:hover
    {
        background-color: #191919;
        border-color: #191919;
        color: #f0efe9;
    }
} 

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: 1s;
    i{
        margin-left: 8px;
        font-size: 0.9em;
    }
    &:hover
    {
        background-color: #FFFFFF;
        border-color: #191919;
        color: #191919;
    }
} 

.btn-transparent {
    background-color:transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: 1s;
    
    i{
        margin-left: 8px;
        font-size: 0.9em;
    }
    &:hover
    {
        background-color: #191919;
        border-color: #191919;
        color: #f0efe9;
    }
    
}