.project-and-case {
    .container {        
        .section-title {
            text-align: center;
        }

        .project-and-cases {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width:768px) {
                grid-template-columns: 1fr 1fr;

            }

            .project {
                display: grid;       
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                color:#191919;
                text-decoration: none;

                img {
                    width: 100%;
                    height: auto;
                }

                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #dad9d3;

                }

                .readmore {
                    padding: 15px;                    
                    display: block;
                    text-align: right;
                    text-decoration: none;
                    color: black;
                    font-size: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 500;

                    i {
                        margin-left: 3px;
                    }
                }
              
                &:hover .readmore {
                    text-decoration: underline;
                }
            }
            
        }
        .center-content{
            margin-top: 50px;
            margin-bottom: 90px;
        }

    }

}