.socialmedia-bar {
  grid-area: social;
  display: none;
}
@media (min-width: 992px) {
  .socialmedia-bar {
    display: block;
  }
}
.socialmedia-bar a, .socialmedia-bar a:visited {
  gap: 5px;
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
  text-decoration: none;
  transition: 0.3s;
}
.socialmedia-bar a:hover, .socialmedia-bar a:visited:hover {
  color: #939090;
}